In [7]:
%run ../scripts/imf-api.py

In [8]:
data = imf.get_data(
    indicator="NGDP_RPCH",
    regions="USA/LSO",
    start_date=1980,
    end_date=2022
)


data.head()

  region  date  value
0    USA  1980   -0.3
1    USA  1981    2.5
2    USA  1982   -1.8
3    USA  1983    4.6
4    USA  1984    7.2